<!-- Modal -->
<!-- <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginLabel">Log in</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= render "devise/shared/links" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 -->

<div class="modal fade" id="login" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">

            <div class="wm-modallogin-form wm-login-popup">
                <span class="wm-color">Connectez-vous</span>
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <form>
                      <ul>
                        <li> <%= f.input :email, required: true, autofocus: true, label: false, placeholder:"e-mail", input_html: { style: "border-radius: 0; height: 43px; border-bottom: 2px solid #eaeaea; padding: 6px 21px; font-size: 15px; color: #a9a9a9; font-style: italic;" } %></li>
                        <li> <%= f.input :password, required: true, label: false, placeholder:"mot de passe",input_html: { style: "border-radius: 0; height: 43px; border-bottom: 2px solid #eaeaea; padding: 6px 21px; font-size: 15px; color: #a9a9a9; font-style: italic;" }  %></li>
                        <li> <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class:"wm-forgot-btn", input_html: { style: "text-decoration: none" } %> </li>
                      </ul>
                    <div class="form-actions">
                      <%= f.button :submit, "Se Connecter", style: "border-radius: 0px"  %>
                    </div>
                  </form>
                <% end %>
                <span class="wm-color">Suivez-nous sur les réseaux sociaux</span>
                <ul class="wm-login-social-media">
                    <li><a href="#"><i class="wmicon-social5"></i> Facebook</a></li>
                    <li class="wm-twitter-color"><a href="#"><i class="wmicon-social4"></i> twitter</a></li>
                    <li class="wm-googleplus-color"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                </ul>
                <p>Pas encore membre? <a <%= link_to "Inscrivez-vous", "#sign_up", "data-toggle" => "modal", style:"text-decoration: none", "data-dismiss" => "modal", "aria-hidden" => "true" %> </a></p>

            </div>


          </div>
        </div>
      <div class="clearfix"></div>
      </div>
    </div>
